<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="{% static 'pantheon/site.css' %}">
</head>
<body class="{{ gender }}">
    <h2>{{name}}</h2>
    <ul>
        <li>{{ birth_year }}</li>
        <li>{{ country }}</li>
        <li>{{ occupation }}</li>
    </ul>

    <div id="map"></div>
        <script>
        var latLon = {
            lat: {{ coord.lat }},
            lon: {{ coord.lon }}
            };
    </script>
    <script src="{% static 'pantheon/pantheon.js' %}"></script>

    <script src="{{ url }}"  async defer></script>
</body>
</html>